/*
Free Html5 Responsive Templates
Author: Kimmy
Author URI: http://www.zerotheme.com/
*/
/* ---------------------Reset----------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;/*vertical-align:top*/;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed /*{vertical-align:top;*/}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0px;}

/* -------------------------------------------- */
/* ------------------Style---------------------- */
/* -------------------------------------------- */
html, body {width:100%; padding:0; margin:0;}
body { background-color:#F0F0F0;color: #333;font: 12px/25px Arial, Helvetica, sans-serif;}

/*-------------------------*/
a{color:#155887;text-decoration: none;}
a:hover {color: #474747; text-decoration: none;}

a.button, input.button {	cursor: pointer;	color: #ffffff;	line-height: 14px;	font-family: Arial, Helvetica, sans-serif;	font-size: 14px;	font-weight: bold;	background: #347E03;-webkit-border-radius: 4px;-moz-border-radius: 4px;-khtml-border-radius: 4px;border-radius: 4px;;}
a.button {	display: inline-block;	text-decoration: none;	padding: 6px 12px 6px 12px;}
input.button {	margin: 0;	border: 0;	height: 24px;	padding: 0px 12px 0px 12px;}
a.button:hover, input.button:hover {}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/*--------------------*/
/*-------------header */
header {width:960px;height: 120px; background:#ffffff; position:relative; margin: 0px auto; border-top: 6px solid #185886; border-bottom: 3px solid #155887;  background:url('../images/img.png');background-position:left;background-repeat:no-repeat;}
header #logo {position:absolute; top:20px; left: 0px; width: 60%; padding-left:125px; }

header #search {position: absolute;top: 60px;right: 20px;	width: 208px;z-index: 15;}
header .button-search {	position: absolute;	left: 0px;	background:url('../images/button-search.png') center center no-repeat;	width: 28px;	height: 24px;	border-right: 1px solid #CCCCCC;	cursor: pointer;}
header #search input {	background: #FFF;	padding: 1px 1px 1px 33px;	width: 172px;	height: 21px;	border: 1px solid #CCCCCC;	-webkit-border-radius: 3px 3px 3px 3px;	-moz-border-radius: 3px 3px 3px 3px;	-khtml-border-radius: 3px 3px 3px 3px;	border-radius: 3px 3px 3px 3px;}

/*------------Navigation and Pagination */
nav {width:960px; margin:0 auto; position:relative;height: 55px; background: #000/*#155887*//*#347E03*/; border-bottom:1px solid #000000;
-webkit-border-radius: 10px 10px 0px 0px;-moz-border-radius: 10px 10px 0px 0px;-khtml-border-radius: 10px 10px 0px 0px;border-radius: 10px 10px 0px 0px;box-shadow: 0px 20px 40px 0px rgba(255, 255, 255, 0.1) inset, 0px 1px 1px 0px rgba(255, 255, 255, 0.05) inset;}
nav ul {list-style: none;margin: 0;padding-left: 10px;}
nav ul li {position: relative;float: left;padding: 6px 5px 0px 5px; background:url(../images/menu_separator.png) no-repeat right;}
nav ul li:hover{background-color:#000000;}
nav ul li a {font-size: 16px; line-height:16px;color: #ffffff;display: block;padding: 15px 20px;margin-bottom: 5px;z-index: 6;position: relative;font-weight:bold; text-transform:uppercase;}
nav ul li:hover a{color:#ffffff;}

#pagi{ clear: both; margin: 30px auto;padding: 0;list-style: none;width: 180px;}
#pagi li {float: left;margin-right: 10px;}
#pagi li a {	display: block;	text-decoration: none; color: #717171;font: bold 11px Arial, sans-serif;padding: 5px 8px;
	-webkit-border-radius: 3px;	-moz-border-radius: 3px;	border-radius: 3px;
	background: #ffffff;
}
#pagi li a.current, #pagi li a:hover {color: #333;	background:#FFF;}


/*-------------content */
#content {width:960px; margin:10px auto; background-color:#FFF; border-top: 6px solid #474747;}
#content1 {width:960px; margin:0px auto; background-color:#FFF; text-align:center;}
#main-content1 article1 ul{ font-size:14px; list-style-type:circle; margin-left:20px;}
#main-content1 article1 ul li{border-bottom: 1px solid #E1E1E1; padding:5px; margin-top:15px;}
#main-content1 article1 ul li a{color: #474747;text-decoration: none;}
#main-content1 article1 ul li a:hover {color: #C00; text-decoration: none;}

#main-content{width:600px;float: left; display: inline; padding:20px;}


#main-content article{ clear: both; font-size:14px; margin:10px 10px 10px 10px;}

#main-content article1ac{ clear: both; font-size:14px; margin:10px 10px 10px 10px;}
.bor{ clear: both;border-bottom:3px double #333333;}
#main-content article1{ clear: both; font-size:14px; margin:10px 10px 10px 10px;}
#main-content article ul{ font-size:14px; list-style-type:circle; margin-left:20px;}
#main-content article ul li{/*border-bottom: 1px solid #E1E1E1*/; padding:5px; margin-top:15px;}
#main-content article ul li a{color: #474747;text-decoration: none;}
#main-content article ul li a:hover {color: #C00; text-decoration: none;}

#main-content article ol{ font-size:12px;list-style-type: decimal; margin-left:20px;}
#main-content article ol li{padding:5px;}

#main-content article .heading{ margin-bottom:10px;}

#main-content article h2{ color:#C00;font-size: 26px; text-align: left; font-weight: normal;}
#main-content article h12{ color:#C00;font-size: 20px; text-align: left; font-weight: normal;}
#main-content article h12a{ color:#770f26;font-size: 20px; text-align: left; font-weight: normal;}
#main-content article h12b{ color:#0580c5#5d2d90;font-size: 20px; text-align: left; font-weight: normal;}
#main-content article h12b{ color:#5d2d90;font-size: 20px; text-align: left; font-weight: normal;}
#main-content article h12c{ color:#0580c5;font-size: 20px; text-align: left; font-weight: normal;}
#main-content article h12d{ color:#bb8e2c;font-size: 20px; text-align: left; font-weight: normal;}
#main-content article h12e{ color:#c65426;font-size: 20px; text-align: left; font-weight: normal;}
#main-content article h12f{ color:#007945;;font-size: 20px; text-align: left; font-weight: normal;}
#main-content article h12g{ color:#D70005;;font-size: 20px; text-align: left; font-weight: normal;}
#main-content article h12h{ color:#185886;;font-size: 20px; text-align: left; font-weight: normal;}
#main-content article h12h1{ color: #000;;font-size: 18px; text-align: left; font-weight: normal;}
#main-content article h14c{ color:#0580c5;font-size: 16px; text-align: left; font-weight: normal;}

#main-content article h11{ color:#474747;font-size: 22px; text-align: left; font-weight: normal;}
#main-content article h11a{ color:#ffffff;font-size: 22px; text-align: left; font-weight: normal;}

#main-content article h11 a{color:#474747;text-decoration: none;}
#main-content article h11 a:hover {color:#C00; text-decoration: none;}
#main-content article top ul{ font-size:18px; list-style-type:circle; margin-left:20px;}
#main-content article top ul li{border-bottom: 1px solid #E1E1E1; padding:5px; margin-top:15px;}
#main-content article top ul li a{color: #474747;text-decoration: none;}
#main-content article top ul li a:hover {color: #C00; text-decoration: none;}

#main-content article .info{ font-size:12px;}
#main-content article img{ float:left; margin:5px; padding:2px; border:1px solid #999;}


#main-content article1 p{margin-bottom:10px; font-size:18px;}
#main-content article .heading1{ font-size:18px;}

#main-content article p{margin-bottom:10px;}
#main-content article .more{float:right; margin-bottom: 30px;}
.featured{margin:35px auto;}
.featured .wrap-featured{background:#333;}
.featured .wrap-featured .slider{padding:5px;}
#main-content .comment{font-weight:bold; margin:50px 10px px 10px 10px;;}
#main-content .comment div{margin-bottom: 20px; vertical-align:middle; }
#main-content .comment input{border: 2px solid #999999;padding: 8px 10px;width:250px;}
#main-content .comment textarea{border: 2px solid #999999;padding: 8px 10px;width:100%;}
#main-content .comment input[type="submit"] {cursor: pointer; width:100px; float:right;
	background: -webkit-linear-gradient(top, #efefef, #ddd);background: -moz-linear-gradient(top, #efefef, #ddd);
	background: -ms-linear-gradient(top, #efefef, #ddd);background: -o-linear-gradient(top, #efefef, #ddd);
	background: linear-gradient(top, #efefef, #ddd);
	color: #333;text-shadow: 0px 1px 1px rgba(255,255,255,1);	border: 2px solid #999999;}
#main-content .comment input[type="submit"]:hover {
	background: -webkit-linear-gradient(top, #eee, #ccc);	background: -moz-linear-gradient(top, #eee, #ccc);
	background: -ms-linear-gradient(top, #eee, #ccc);	background: -o-linear-gradient(top, #eee, #ccc);
	background: linear-gradient(top, #eee, #ccc);	border: 2px solid #bbb;}
#main-content .comment input[type="submit"]:active {
	background: -webkit-linear-gradient(top, #ddd, #aaa);	background: -moz-linear-gradient(top, #ddd, #aaa);
	background: -ms-linear-gradient(top, #ddd, #aaa);	background: -o-linear-gradient(top, #ddd, #aaa);
	background: linear-gradient(top, #ddd, #aaa);	border: 2px solid #999;}

#sidebar{width:280px;float: left; display: inline; padding:20px;}
#sidebar section{margin-bottom:20px;}
#sidebar .heading{ padding:0px; border-bottom:3px double #333333;}
#sidebar .heading h2{font-size:22px; color:#474747; font-weight:bold; display:inline; padding:0 10px;}
#sidebar .content{padding:15px}
#sidebar .content ul{ font-size:14px; list-style-type:circle; margin-left:20px;}
#sidebar .content ul li{border-bottom: 1px solid #E1E1E1; padding:5px;}
#sidebar .content .post {margin-bottom: 20px;}
#sidebar .content .post h4{ font-size:14px; font-weight:normal;}
#sidebar .content .post img{ float:left; padding:5px; border:1px solid #CCC; margin-right:10px;}
#sidebar .content .post p{color:#A3A3A3; font-style:italic;}


#top1{clear: both; font-size:14px; margin:0;}
#top1 section{margin-bottom:20px;}
#top1 .heading{ padding:0px;}
#top1 .heading h2{font-size:22px; color:#770f26; font-weight:bold; display:inline; padding:0 10px;}
#top1 .content{padding:0px}
#top1 .content ul{ font-size:18px; list-style-type:circle; margin-left:20px;}
#top1 .content ul li{border-bottom: 1px solid #E1E1E1; padding:5px;}
#top1 .content ul li a{color:#770f26;text-decoration: none;}
#top1 .content ul li a:hover {color: #474747; text-decoration: none;}

#top2{clear: both; font-size:14px; margin:0;}
#top2 section{margin-bottom:20px;}
#top2 .heading{ padding:0px;}
#top2 .heading h2{font-size:22px; color:#474747; font-weight:bold; display:inline; padding:0 10px;}
#top2 .content{padding:0px}
#top2 .content ul{ font-size:18px; list-style-type:circle; margin-left:20px;}
#top2 .content ul li{border-bottom: 1px solid #E1E1E1; padding:5px;}
#top2 .content ul li a{color:#0580c5;text-decoration: none;}
#top2 .content ul li a:hover {color: #474747; text-decoration: none;}

#top4{clear: both; font-size:14px; margin:0;}
#top4 section{margin-bottom:20px;}
#top4 .heading{ padding:0px;}
#top4 .heading h2{font-size:22px; color:#bb8e2c; font-weight:bold; display:inline; padding:0 10px;}
#top4 .content{padding:0px}
#top4 .content ul{ font-size:18px; list-style-type:circle; margin-left:20px;}
#top4 .content ul li{border-bottom: 1px solid #E1E1E1; padding:5px;}
#top4 .content ul li a{color:#bb8e2c;text-decoration: none;}
#top4 .content ul li a:hover {color: #474747; text-decoration: none;}

#top5{clear: both; font-size:14px; margin:0;}
#top5 section{margin-bottom:20px;}
#top5 .heading{ padding:0px;}
#top5 .heading h2{font-size:22px; color:#5d2d90; font-weight:bold; display:inline; padding:0 10px;}
#top5 .content{padding:0px}
#top5 .content ul{ font-size:18px; list-style-type:circle; margin-left:20px;}
#top5 .content ul li{border-bottom: 1px solid #E1E1E1; padding:5px;}
#top5 .content ul li a{color:#5d2d90;text-decoration: none;}
#top5 .content ul li a:hover {color: #474747; text-decoration: none;}

#top6{clear: both; font-size:14px; margin:0;}
#top6 section{margin-bottom:20px;}
#top6 .heading{ padding:0px;}
#top6 .heading h2{font-size:22px; color:#c65426; font-weight:bold; display:inline; padding:0 10px;}
#top6 .content{padding:0px}
#top6 .content ul{ font-size:18px; list-style-type:circle; margin-left:20px;}
#top6 .content ul li{border-bottom: 1px solid #E1E1E1; padding:5px;}
#top6 .content ul li a{color:#c65426;text-decoration: none;}
#top6 .content ul li a:hover {color: #474747; text-decoration: none;}

#top7{clear: both; font-size:14px; margin:0;}
#top7 section{margin-bottom:20px;}
#top7 .heading{ padding:0px;}
#top7 .heading h2{font-size:22px; color:#007945; font-weight:bold; display:inline; padding:0 10px;}
#top7 .content{padding:0px}
#top7 .content ul{ font-size:18px; list-style-type:circle; margin-left:20px;}
#top7 .content ul li{border-bottom: 1px solid #E1E1E1; padding:5px;}
#top7 .content ul li a{color:#007945;text-decoration: none;}
#top7 .content ul li a:hover {color: #474747; text-decoration: none;}


#top8{clear: both; font-size:14px; margin:0;}
#top8 section{margin-bottom:20px;}
#top8 .heading{ padding:0px;}
#top8 .heading h2{font-size:22px; color:#007945; font-weight:bold; display:inline; padding:0 10px;}
#top8 .content{padding:0px}
#top8 .content ul{ font-size:18px; list-style-type:circle; margin-left:20px;}
#top8 .content ul li{border-bottom: 1px solid #E1E1E1; padding:5px;}
#top8 .content ul li a{color:#007945;text-decoration: none;}
#top8 .content ul li a:hover {color: #474747; text-decoration: none;}
#top9{clear: both; font-size:14px; margin:0;}
#top9 section{margin-bottom:20px;}
#top9 .heading{ padding:0px;}
#top9 .heading h2{font-size:22px; color:#D70005; font-weight:bold; display:inline; padding:0 10px;}
#top9 .content{padding:0px}
#top9 .content ul{ font-size:18px; list-style-type:circle; margin-left:20px;}
#top9 .content ul li{border-bottom: 1px solid #E1E1E1; padding:5px;}
#top9 .content ul li a{color:#D70005;text-decoration: none;}
#top9 .content ul li a:hover {color: #474747; text-decoration: none;}
#top10{clear: both; font-size:14px; margin:0;}
#top10 section{margin-bottom:20px;}
#top10 .heading{ padding:0px;}
#top10 .heading h2{font-size:22px; color:#185886; font-weight:bold; display:inline; padding:0 10px;}
#top10 .content{padding:0px}
#top10 .content ul{ font-size:18px; list-style-type:circle; margin-left:20px;}
#top10 .content ul li{border-bottom: 1px solid #E1E1E1; padding:5px;}
#top10 .content ul li a{color:#185886;text-decoration: none;}
#top10 .content ul li a:hover {color: #474747; text-decoration: none;}


#pagi{margin: 0px auto;padding: 0;list-style: none;width: 175px;}
#pagi li {float: left;margin-right: 10px; list-style-type: disc; color:#FFF;}
#pagi li a {display: block;	text-decoration: none; color: #717171;font: bold 11px Arial, sans-serif;padding: 5px 8px;
	-webkit-border-radius: 3px;	-moz-border-radius: 3px;	border-radius: 3px;	background: #F2F2F2;}
#pagi li a.current, #pagi li a:hover {color: #ffffff;	background: #d2232a;}
/*------------footer */ 
footer {width:960px; margin:0px auto 20px auto; padding:10px 0px; color:#ffffff; text-align:center; background-color:#185886;
-webkit-border-radius: 0px 0px 10px 10px;-moz-border-radius: 0px 0px 10px 10px;-khtml-border-radius: 0px 0px 10px 10px;border-radius: 0px 0px 10px 10px;box-shadow: 0px 20px 40px 0px rgba(255, 255, 255, 0.1) inset, 0px 1px 1px 0px rgba(255, 255, 255, 0.05) inset;}
footer a{color:#ffffff; text-decoration:underline;}
footer a:hover{color:#ffffff;}

#results {
background: #ec642d;
color: #FFFFFF;
padding: 3px;
text-align: center;
width: 200px;
cursor: pointer;
border: 1px solid gray;
}

#results:hover {
background: #0000000;
color: #ffffff;
padding: 3px;
text-align: center;
width: 200px;
cursor: pointer;
border: 1px solid gray;
}

#categorylist {
margin-top: 6px;
display: none;
}

#category1, #category2, #category3, #category4, #category5, #category6, #category7, #category8, #category9, #category10, #category11 {
display: none;
}
