<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "2.0.0">
<preference name="TOP apps." value="2.2.0" />
<gap:plugin name="com.pushwoosh.plugins.pushwoosh" />
<name>TON</name>

<icon src="images/TOP.png" />
<description>
TIMES OF PSYCHIATRY (TOP) 
</description>
<author href="#" email="yashbantm.com">
MedekaHealth
</author>
</widget>