<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "2.0.0">
<preference name="TOP mobile application." value="3.1.0" />
<gap:plugin name="com.pushwoosh.plugins.pushwoosh" />
<name>TOP</name>

<icon src="images/TOP.png" />
<description>
‘Times of Psychiatry’ is a scientific newsletter for Psychiatrists. The first and the second issues were released in print earlier this year. The newsletter is customized to cater to the practical needs and interests of practicing psychiatrists. Information on the evolving role of various drugs in schizophrenia, bipolar disorder, insomnia, and depression is elaborately reviewed. The print version of the first and second issues was well appreciated by the audiences. To bridge the gap between time constraints and the quest for knowledge, the upcoming third issue is being simultaneously released as a mobile app. 
</description>
<author href="#" email="yashbantm.com">
MedekaHealth
</author>
</widget>